<div class="about-trip">
  <h1>O rejsie Chorwacja 2024</h1>
  <div class="underline"></div>

  <div class="about-trip-content">
    <img src="./assets/img/abouttrip/2.jpg" alt="" />
    <div class="about-trip-content-text">
      <h3>Zapraszamy na żeglarską przygodę u wybrzeży urokliwej Chorwacji!</h3>
      <p>
        Bez względu na to, czy jesteś nowicjuszem w świecie żeglugi, czy
        doświadczonym żeglarzem, nasze rejsy dostarczą ci niezapomniane chwile
        na morzu oraz pozwolą cieszyć się pięknem widoków, z którego słynie
        malownicze wybrzeże Adriatyku.
      </p>
      <p>
        Doświadczony sternik zapewni Ci komfort i bezpieczeństwo podczas całej
        podróży luksusowym jachtem żaglowym
        <span style="white-space: nowrap">Dufour 460 GL</span>.
      </p>
      <p>
        Chorwackie wybrzeże zachwyca nie tylko wysepkami, lecz także
        krystaliczną czystością morza. Nasze rejsy obejmują dni pełne żeglugi
        oraz wieczory spędzane w malowniczych portach. Będziesz mieć okazję
        zwiedzić urokliwe miasta i oddać się lokalnej zabawie. Życie to
        przygoda, a teraz nadszedł czas na przygodę w Chorwacji!
      </p>
    </div>

    <div class="about-trip-content-text">
      <h3>Dlaczego wrzesień?</h3>
      <p>
        Jest najlepszym miesiącem do żeglowania w Chorwacji. Wieje umiarkowany
        wiatr, świeci słońce, temperatura utrzymuje się na przyjemnym poziomie
        20-30 °C, woda jest ciepła, nagrzana po letnich miesiącach, porty są
        mniej zatłoczone niż w szczycie sezonu a opłaty portowe są niższe.
      </p>

      <h3>Plan rejsu</h3>
      <ul>
        <li>
          Sobota - zaokrętowanie, zapoznanie się załogi, omówienie we wspólnym
          gronie gdzie płyniemy (w zależności od warunków atmosferycznych oraz
          od preferencji), rozdzielenie wacht.
        </li>
        <li>
          Niedziela - rano zakupy, śniadanie, szkolenie BHP i najpóźniej
          około południa wypływamy.
        </li>
        <li>
          Poniedziałek, wtorek, środa, czwartek - płyniemy tam gdzie chce
          załoga, przy założeniu, że warunki atmosferyczne na to pozwolą, oraz
          będziemy w stanie wrócić na czas. Żeglujemy turystycznie, nie
          żeglujemy w nocy ani w trudnych warunkach (umowa czarterowa wręcz
          zabrania wypływania przy sile wiatru powyżej 7bft).
        </li>
        <li>
          Piątek - najpóźniej 18:00 musimy wrócić do Trogiru, po drodze
          zatrzymując się na stacji uzupełnić paliwo.
        </li>
        <li>Sobota - wyokrętowanie.</li>
      </ul>
      
      <p>
        Oba turnusy zaczynają się i kończą w sobotę. Jeżeli wahasz się na który
        się zdecydować, warto rozważyć ich różnice.
      </p>
      <p>
        Pierszy turnus (14.09. - 21.09.) rozpoczyna się w dniu odbioru jachtu,
        co może wiązać się z czekaniem w marinie aż jacht będzie gotowy do
        odbioru (i odebrany przez sternika), dopiero wtedy będzie można wejść z
        bagażami na pokład (zazwyczaj dopiero po godzinie 18). Plusem tego
        turnusu jest to, że w ostatni dzień nie musimy jachtu zdawać, więc jest
        możliwość zostania na łódce do późnego popołudnia (do przybycia załogi
        na drugi turnus) - wygodna opcja w przypadku późniejszego wylotu ze
        splitu, można wtedy zostawić bagaże na pokładzie i wybrać się na
        zwiedzanie Trogiru.
      </p>
      <p>
        Drugi turnus (21.09. - 28.09.) - na odwrót, czyli zaokrętowanie na
        gotowe - po przybyciu do mariny można odrazu wrzucić bagaże na jacht i w
        oczekiwaniu na resztę załogi pozwiedzać Trogir. Minusem jest konieczność
        zdania łódki w ostatni dzień - zazwyczaj już ok. 9:00 załoga musi razem
        z bagażami opuścić pokład, więc późniejszy wylot wiąże się z
        koniecznością oddania bagaży do przechowalni jeżeli chcesz .
      </p>
    </div>

    <div class="map">
      <iframe
        class="google"
        src="https://www.google.com/maps/d/u/3/embed?mid=1GDvjz43FtwxdyH99Kn376Zj_FWRcEaY&ehbc=2E312F"
      ></iframe>
    </div>
    <img src="./assets/img/abouttrip/1.jpg" alt="" />
    <div class="about-trip-content-text">
      <h3>Dojazd</h3>
      <p>
        Najwygodniej samolotem - lot z Polski trwa ok. 1.5h. Trogir jest blisko
        lotniska Split (ok. 6 km). Jeżli zdecydujesz się przyjechać samochodem,
        w marinie jest parking 60 EUR / tydzień (należy wcześniej zarezerwować).
      </p>
      <h3>Cena</h3>

      <p>Cena obejmuje 1 miejsce w kabinie 2-osobowej</p>
      <p>
        Jacht posiada 4 kabiny 2-osobowe, dla każdego na miejscu będzie czekać
        komplet pościeli i ręczników. Na jachcie będzie darmowe WiFi, w każdej
        kabinie gniazdka 230V (działające tylko przy podłączeniu do prądu w
        porcie) poza tym w mesie jeden inwerter (jedno gniazdko 230V działające
        zawsze) oraz kilka gniazdek usb.
      </p>
      <p>
        Na jednym turnusie będzie max 8 osób (wliczając sternika) - jacht jest
        10 osobowy więc nie będzie tłoku i nikt nie będzie spał w mesie.
      </p>
    </div>

    <div class="about-trip-content-text">
      <h3>Koszty dodatkowe</h3>
      <ul>
        <li>tourist tax (ok. 10 EUR za osobę za tydzień)</li>
        <li>
          składka jachtowa (80 EUR - wspólne jedzenie, opłaty portowe itp. - do
          rozliczenia w ostatni dzień) [sternik nie płaci składki jachtowej]
        </li>
        <li>
          paliwo jachtowe (do podziału na załogę po zatankowaniu - ok. 10 EUR /
          os.)
        </li>
        <li>dojazd we własnym zakresie</li>
        <li>kaucja (30 EUR - do zwrotu po rejsie)</li>
      </ul>
      <p>
        W sumie ~ 100 EUR bez kosztów dojazdu i własnych wydatków (restauracje,
        alkohol itp.)
      </p>
      <p>
        Aby zarezerwować miejsce, należy skontaktować się mailowo/telefonicznie
        i wpłacić 50% kwoty jako zaliczkę. W przypadku rezygnacji zaliczka nie
        podlego zwrotowi, chyba że znajdziesz kogoś na swoje miejsce. Pozostała
        kwota jest do zapłaty do końca lipca 2024. W przypadku gdyby wyjazd nie
        mógł się odbyć, zaliczka zostanie zwrócona w całości.
      </p>
      <p>
        Przy rezerwacji całej kabiny (2 miejsca) zniżka 10%. Większe grupy - do
        negocjacji.
      </p>
      <p><b>Zapraszamy tylko osoby, które ukończyły 18 lat.</b></p>
    </div>

    <img src="./assets/img/abouttrip/3.jpg" alt="" />
  </div>
</div>
