<div class="about-trip">
  <h2>O rejsie</h2>
  <div class="underline"></div>

  <div class="about-trip-content">
    <div class="about-trip-content-item">
      <div class="box-map">
        <iframe
          class="google"
          src="https://www.google.com/maps/d/u/3/embed?mid=1GDvjz43FtwxdyH99Kn376Zj_FWRcEaY&ehbc=2E312F"
        ></iframe>
      </div>
    </div>

    <div class="about-trip-content-item">
      <div class="box">
        <h2><b>Chorwacja, Classic Route</b></h2>
        <br />
        <h3><b>Dalmacja, dom Roberta Makłowicza</b></h3>
        <p>
          Najbardziej widokowa trasa po wyspach Adriatyku. Wspaniałe klify na
          wyspie Vis, ukryte jaskinie, magiczne miasta i wspaniałe jedzenie,
          czynią ten rejs w istocie perfekcyjnym. W trakcie rejsu wyspy takie
          jak Solta, Brać, Vela Luka i Vis, oraz wiele zatok i wysepek wokoł
          nich.
        </p>

        <p>
          <b>Dlaczego wrzesień?</b>
          <br />
          Jest idealnym żeglarskim miesiącem. Wieje umiarkowany wiatr,
          temperatura wody, nagrzana po lecie dochodzi do 28 stopni, porty są
          mniej zatłoczone aniżeli w sezonie. Wody po których pływamy są
          osłonięte, dzięki czemu żeglowanie jest przyjemne i spokojne.
        </p>
      </div>
    </div>

    <div class="about-trip-content-item">
      <div class="box">
        <h3><b>Trasa rejsu</b></h3>
        <ul>
          <li>
            <span>Dzień 1: Marina Kaštela.</span> Zaokrętowanie około godziny
            18:00, zapoznanie się z jachtem oraz szkolenie z zasad
            bezpieczeństwa na jachcie. Wieczorne zwiedzanie wpisanej na listę
            UNESCO starówki Trogiru.
          </li>
          <li>
            <span>Dzień 2: Trogir - Hvar.</span> Rankiem podnosimy kotwicę i
            wybieramy kurs na wyspę Brač. Po drodzę stajemy na kąpiel i
            nurkowanie, zwiedzamy zatoczki wyspy Šolta i Palmižana. Na koniec
            dnia udajemy się na nocne zwiedzanie miasta Hvar.
          </li>
          <li>
            <span>Dzień 3: Hvar - Vela Luka.</span> Tego dnia kierujemy się na
            wyspę Korčula, która oprócz pięknych plaż ma bogate tradycje
            winiarskie. W ciągu dnia kotwiczymy na pobliskich zatokach,
            korzystamy z plaży, a popołudniem cumujemy do niedawno wybudowanej
            mariny. Wieczorem udajemy się na chorwacką biesiadę w gaju oliwnym.
          </li>
          <li>
            <span>Dzień 4: Vela Luka - Komiža.</span> Wypływamy wczesnym rankiem
            i płyniemy na zachód (około 32Nm) na najbardziej oddaloną z
            zamieszkanych wysp dalmatyńckich - Vis. Przed cumowaniem odbijamy na
            Bisevo i udajemy się na wycieczke łodzią motorową do błękitnej
            groty. Po całodniowym żeglowaniu, próbujemy specjału wywodzącego się
            z Komižy - komiška pogača.
          </li>
        </ul>
      </div>
    </div>

    <div class="about-trip-content-item">
      <div class="box">
        <img src="./assets/img/abouttrip/20220918_175450.jpg" alt="" />
      </div>
    </div>

    <div class="about-trip-content-item">
      <div class="box"><img src="./assets/img/abouttrip/2.jpg" alt="" /></div>
    </div>

    <div class="about-trip-content-item">
      <div class="box">
        <ul>
          <li>
            <span>Dzień 5: Miasto Vis.</span> Wypożyczamy skutery na całodniową
            wycieczke po wyspie. Odkrywamy ukryte plaże i podążamy szlakiem
            winnym po krętych uliczkach.
          </li>
          <li>
            <span>Dzień 6: Komiža - Maslinica.</span> Udajemy się w podróż
            powrotną. Ostatnim portem przed macierzystym będzie malownicza wyspa
            Maslinica. Znajdziemy tu kilka kameralnych barów, sklepików i
            restauracji. Obowiązkowym miejscem jest beach bar gdzie uraczymy się
            wieczornymi drinkami i Sunset Party.
          </li>
          <li><span>Dzień 7: Maslinica - Kaštela.</span> Powrót do mariny.</li>
          <li>
            <span>Dzień 8: Marina Kaštela.</span> Opuszczamy jacht do 9:00
          </li>
        </ul>
        <p class="text-muted">
          * Proponowana trasa może ulec zmianie w związku z niekorzystnymi
          warunkami atmosferycznymi lub sytuacją związaną z pandemią COVID-19.
        </p>
      </div>
    </div>
  </div>
</div>
