.logo {
  color: var(--color-text-light);
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;

  &.large {
    font-size: 3rem;
  }
}

.hover-accent {
  &:hover span {
    color: var(--color-accent);
  }
}