<app-page-container>
  <div id="faq" class="faq">
    <h2>FAQ</h2>
    <div class="underline"></div>
    <div class="faq-list">
      <div class="faq-list-column">
        <app-collapse-card title="Jakie są wymagania dla uczestnika rejsu?">
          <p>
            Prawie wszyscy, którzy z nami pływają, nie mieli wcześniej okazji
            korzystać z jachtów. Nasze rejsy po ciepłych morzach są jednak
            zaprojektowane z myślą o każdym, a doświadczony sternik zapewnia
            bezpieczeństwo podczas całego rejsu. Życie na pokładzie jachtu to
            niezapomniane doświadczenie, które z pewnością zachwyci każdego.
          </p>
        </app-collapse-card>

        <app-collapse-card
          title="Czy zapewniamy transport do miejsca zaokrętowania?"
        >
          <p>
            Nie zapewniamy transportu ale jeśli na przykład szukasz pasażerów do
            Twojego samochodu, napisz do nas, a my skontaktujemy Cię z osobami,
            które szukają wolnych miejsc w aucie. Drugą opcją jest transport
            lotniczy. Bardzo łatwo dostać się na lotnisko w Splicie z Polski, a
            stamtąd możemy zorganizować transport.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Co warto zabrać na rejs?">
          <p>
            Konieczne będą: paszport/dowód osobisty, oraz gotówka euro. Ponadto
            zalecamy zabranie ze sobą kremu z filtrem, okularów
            przeciwsłonecznych, nakrycia głowy, miękkiego obuwia, strój
            kąpielowy, sprzętu do nurkowania, ręcznika, a także czegoś na
            imprezę. Przed wyjazdem dokładnie poinformujemy Cię o tym, co warto
            zabrać ze sobą na rejs.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Ile czasu spędzamy dziennie na jachcie?">
          <p>
            Trasy rejsu są dostosowane do preferencji załogi, dziennie
            pokonujemy odległości nieprzekraczające 15-30 mil morskich, co w
            większości przypadków zajmuje od 3 do 6 godzin. Żeglujemy po
            akwenach, gdzie zawsze widać ląd, nie są to oceany. Przed wyjazdem
            dokładnie omówimy wszystkie szczegóły, tak aby każdy mógł skorzystać
            z atrakcji, które najbardziej go interesują.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Jaka będzie pogoda?">
          <p>
            Oczywiście, nie jesteśmy w stanie przewidzieć dokładnie pogody na
            dany dzień, ale w okresie letnim, czyli w lipcu i sierpniu, średnie
            temperatury wynoszą zwykle od 25 do 30 stopni Celsjusza, a w maju i
            we wrześniu około 20-25 stopni. W rejonie Morza Adriatyckiego
            praktycznie nie pada w okresie letnim, a temperatura wody wynosi
            zazwyczaj w granicach 23-24 stopni Celsjusza.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Co zawiera koszt rejsu?">
          <p>
            Usługi w cenie rejsu obejmują miejsce na jachcie, końcowe
            sprzątanie, pościel, ręczniki, usługi doświadczonego skippera,
            ponton, ubezpieczenie NWW i KL, ubezpieczenie jachtu i koszulkę
            wyjazdową. Nie zawierają one jednak dojazdu, wyżywienia, paliwa,
            opłat za mariny, opłaty klimatycznej oraz dodatkowych atrakcji
            takich jak biesiada w Vela Luce, Blue Cave czy skutery na Vis. Te
            opłaty będą pobierane z kasy jachotwej poza dodatkowymi atrakcjami.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Co z chorobą morską?">
          <p>
            Choroba morska to dolegliwość, która może dotknąć każdego, jednak w
            Chorwacji zazwyczaj nie jest ona bardzo odczuwalna. W razie
            wystąpienia objawów choroby morskiej warto zaopatrzyć się w
            odpowiednie leki jeszcze przed wyjazdem, które można nabyć w aptece.
            Jednakże najlepszym sposobem na radzenie sobie z tym jest aktywny
            udział w życiu załogi, mimo dokuczających nam objawów.
          </p>
        </app-collapse-card>
      </div>
      <div class="faq-list-column">
        <app-collapse-card title="Jak wygląda mieszkanie na jachcie?">
          <p>
            Jacht, na których będziemy żeglować, są bardzo wygodne i
            przestronne. Każdy z nich wyposażony jest cztery w tolaety z
            prysznicem oraz 4 dwuosobowe kajuty. W pełni wyposażone kambuzy
            (kuchnie) znajdują się na pokładzie i zawierają wszystkie potrzebne
            garnki i sztućce, aby móc gotować smaczne posiłki dla załogi. Na
            jachtach znajdują się również lodówki, piekarniki, gniazdka z prądem
            stałym 12V oraz głośniki.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Jak wygląda przykładowy dzień na jachcie?">
          <p>
            Nasz plan rejsu zakłada wypłynięcie z marin około godziny 10-11
            rano. W ciągu dnia zatrzymujemy się w malowniczych zatoczkach na
            kąpiel, odpoczynek i relaks, a także czasem na małe imprezy. Około
            godziny 17-18 docieramy do miejsca, w którym spędzimy noc. W tym
            czasie załoga może ogarnąć sobie obiadokolację, skorzystać z toalety
            oraz przygotować się na wieczorną zabawę i zwiedzanie miasta lub
            okolicy. Dzięki temu harmonogramowi każdy z uczestników będzie mógł
            w pełni cieszyć się rejsowym wypoczynkiem i jednocześnie poznać
            uroki miejsc, które odwiedzamy.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Gotowanie na pokładzie">
          <p>
            Zazwyczaj tworzymy trzy wachty, składające się z 2-3 osób, które na
            zmianę zajmują się przygotowaniem posiłków dla całej załogi jako
            wachta kambuzowa. Zależy nam na integracji, dlatego staramy się jeść
            posiłki razem. Nasz system trójposiłkowy obejmuje śniadania (o
            godzinie 9:00), lunch (ok. 13:00, zazwyczaj podczas postoju w
            uroczej zatoczce) i obiadokolacje (około godziny 18:00, w miejscu
            docelowym danego dnia, zazwyczaj w marinie). Obiadokolacje można
            przygotować samodzielnie na jachcie lub spróbować lokalnych
            specjałów w portach, które odwiedzamy. To świetna okazja do
            degustacji kuchni regionalnej!
          </p>
        </app-collapse-card>

        <app-collapse-card title="Czy na rejsie nauczę się żeglować?">
          <p>
            Na naszych rejsach skupiamy się na zapewnieniu dobrej zabawy i
            możliwości poznania miejscowej kultury. To doskonała okazja, aby
            zobaczyć, jak wygląda morskie żeglowanie i czy ta forma spędzania
            czasu odpowiada Twoim oczekiwaniom. Oczywiście, na pewno zdobędziesz
            cenną wiedzę o żeglowaniu. Zachęcamy również do zadawania pytań
            kapitanowi i angażowania się w manewry na żaglach oraz podczas
            cumowania w portach. Jeśli wykażesz chęć nauki, Twój kapitan na
            pewno chętnie Ci w tym pomoże.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Czy na jachcie jest prąd?">
          <p>
            Możliwe jest ładowanie urządzeń elektrycznych, takich jak aparaty,
            telefony komórkowe i laptopy, korzystając z gniazdek samochodowych o
            napięciu 12V, które znajdują się na jachcie podczas żeglugi. W
            czasie postoju w marinie będziemy mieli dostęp do prądu zmiennego o
            napięciu 220V.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Jakie są koszty dodatkowe?">
          <p>
            Za jedzenie, paliwo i opłaty za cumowanie w marinach pobierana jest
            składka burtowa w wysokości około 25-30 euro na osobę za dzień.
            Skipperzy są zwolnieni z tej opłaty. Na życzenie załogi organizujemy
            różnego rodzaju atrakcje, takie jak wspólna biesiada w konobie na
            wyspie Korcula, gdzie można spróbować lokalnego jedzenia i alkoholu
            za 35 euro (os), całodniową wycieczkę skuterami po wyspie Vis za 15
            euro oraz wizytę w Blue Cave za 20 euro.
          </p>
        </app-collapse-card>

        <app-collapse-card title="Kiedy przyjechać i o której wypływamy?">
          <p>
            Zalecamy przyjazd około godziny 18. Przygotowanie jachtu do rejsu,
            czyli zrobienie zakupów, to nasz pierwszy obowiązek po przybyciu na
            miejsce. Możemy zrobić to przed lub po wejściu na pokład w sobotę.
            Później możemy wspólnie spędzić wieczór na jachcie. 😉 Jeśli chcesz
            poznać miasto, w którym zaczyna się rejs, polecamy przyjechać rano
            lub około południa. Wypływamy następnego dnia (niedziela) rano.
          </p>
        </app-collapse-card>
      </div>
    </div>
  </div>
</app-page-container>
