<app-navigation></app-navigation>

<ng-content></ng-content>

<section id="contact" class="contact py-5">
  <h2>kontakt</h2>
  <div class="underline"></div>

  <div class="container">
    <div class="row text-center contact-us">
      <div class="col-lg-6 col-md-6 col-sm-6 order-0 order-lg-1 contact-item">
        <h3>Social media</h3>
        <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100090012129653" target="_blank"><i
              class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/thebuoys.pl/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.youtube.com/@TheBuoysPL"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6  col-sm-6 contact-item order-1">
        <h3>Dane kontaktowe</h3>
        <p><a href="tel:519305552" class="phone">+48519305552</a></p>
        <p><a href="mailto:info@thebuoys.pl" class="mail">info@thebuoys.pl</a></p>
      </div>
    </div>
  </div>
  <div class="contact-shadow"></div>
</section>
<footer class="bg-dark text-light py-4 text-center">
<p class="mb-0">&copy; 2023 | Michał Śmieszkol</p>
</footer>