<div class="home" [class.show-logo]="isFirstVisit">
  <div class="home-brand">
    <app-logo size="large" (click)="scrollToTop()"></app-logo>
    <p class="slogan">Rejsy, które tworzą horyzont</p>
  </div>
  <div class="home-content">
    <app-trip-card
      [startOpen]="!isFirstVisit"
      title="Chorwacja 2024"
      flagImgSrc="../../../assets/img/icons/croatia.png"
      [dates]="[
        '14.09 - 21.09. (5 wolnych miejsc)',
        '21.09 - 28.09. (6 wolnych miejsc)'
      ]"
      marina="SCT Marina Trogir"
      yacht="Dufour 460 GL 2017"
      captain="Kamil Nowak"
      [pricePLN]="2650"
      [priceEUR]="600"
      phoneNumber="+48 519 167 722"
    >
    </app-trip-card>
    <app-trip-card
      [startOpen]="!isFirstVisit"
      title="Grecja 2024"
      flagImgSrc="../../../assets/img/icons/greece.png"
      [dates]="[
        '31.08 - 07.09. (5 wolnych miejsc)',
        '07.09 - 14.09. (6 wolnych miejsc)'
      ]"
      marina="???"
      yacht="???"
      captain="Michał Śmieszkol"
      [pricePLN]="2650"
      [priceEUR]="600"
      phoneNumber="+48 519 305 552"
    >
    </app-trip-card>
  </div>
</div>
<app-about-trip id="trip"></app-about-trip>
<app-portfolio id="portfolio"></app-portfolio>
