.team {
	background-image: url('../../../assets/img/team/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	padding: 3rem 0;
	h2 {
		color: var(--color-text-light);
	}
}

.card {
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
	transition: transform 0.3s;
	img {
		height: 300px;
		object-fit: cover;
	}
	margin: 3rem;
	&:hover {
		transform: scale(1.1);
	}
}

.card-group {
	display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-title {
	margin-bottom: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

.card-body {
	height: 200px;
}
