
<div id="team" class="team py-5">
  <h2>Zespół</h2>
  <div class="underline"></div>
  <div class="btn-wrap">
    <div class="container">
      <div class="card-group team-carousel">
        <div class="card mx-3">
          <img src="../../../assets/img/team/michal.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Michał</h5>
            <p class="card-text">
              Absolwent Akademii Morskiej. Pasjonat żeglarstwa. Charakteryzuje go wiecznie spalony nos.
            </p>
          </div>
        </div>
        <div class="card mx-3">
          <img src="../../../assets/img/team/jeremi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Jeremi</h5>
            <p class="card-text">
              Mózg floty. Miłośnik podcastów i
              planszówek. Jedyna osoba, która potrafi odpowiedzieć na komendę "powiedz coś ciekawego" CIEKAWOSTKĄ!
            </p>
          </div>
        </div>
        <div class="card mx-3">
          <img src="../../../assets/img/team/kamil.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Kamil</h5>
            <p   class="card-text">
              Digital-nomad, łączy pracę w IT z podróżami i żeglugą. Mógłby jeść pizze codziennie, choć nie ma
              włoskich korzeni.
            </p>
          </div>
        </div>
        <div class="card mx-3">
          <img src="../../../assets/img/team/bartek.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Bartek</h5>
            <p class="card-text">
              Wychowanek Mazur i Bałtyku - zna każdą szantę. Pasjonuje się motoryzacją. Poznacie go po zaraźliwym
              śmiechu.
          </div>
        </div>
        <div class="card mx-3">
          <img src="../../../assets/img/team/filip.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Filip</h5>
            <p class="card-text">
              Gdy kotwica zarzucona, jako pierwszy odkrywa podwodny świat nurkując! Fan sztuk walk i odkrywania
              lokalnych przysmaków.
          </div>
        </div>
      </div>
    </div>
    <div class="team-shadow"></div>
  </div>
</div>