.about-us {
  padding: 3rem 0;
  background-color: #F8F9FA;
}

.content {
  display: flex;
  flex-wrap: wrap;

  &-card {
    @media (min-width: 576px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    @media (min-width: 768px) {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
    text-align: center;
    margin: 0 auto;
    &-title {
      font-size: 18px;
      text-transform: uppercase;
    }
    &-text {
      font-size: 12px;
    }
    i {
      margin-top: 20px;
      font-size: 30px;
    }
  }
}