<section class="about-us">
    <h2>o nas</h2>
    <div class="underline"></div>
    <div class="content">
      <div class="content-card">
        <p><i class="fa-solid fa-anchor"></i></p>
        <p class="content-card-title">Doświadczenie</p>
        <p class="content-card-text">
          Posiadamy patenty sterników morskich, radiooperatów oraz tysiące
          godzin spędzonych na wodzie.
        </p>
      </div>
      <div class="content-card">
        <p><i class="fa-solid fa-plane"></i></p>
        <p class="content-card-title">Dojazd</p>
        <p class="content-card-text">Zapewniamy wsparcie w organizacji dojazdu.</p>
      </div>
      <div class="content-card">
        <p><i class="fa-regular fa-compass"></i></p>
        <p class="content-card-title">Szkolenie</p>
        <p class="content-card-text">
          Dzielimy się umiejętnościami żeglarskimi.
        </p>
      </div>
      <div class="content-card">
        <p><i class="fa-regular fa-life-ring"></i></p>
        <p class="content-card-title">Bezpieczeństwo</p>
        <p class="content-card-text">Dzięki nam twoja przygoda będzie nie tylko niezpomniana, ale także bezpieczna.
        </p>
      </div>
      <div class="content-card">
        <p><i class="fa-solid fa-fish"></i></p>
        <p class="content-card-title">lubimy dobre jedzenie</p>
        <p class="content-card-text">
          Wiemy gdzie zjeść najlepsze przysmaki Dalmacji.
        </p>
      </div>
      <div class="content-card">
        <p><i class="fa-solid fa-champagne-glasses"></i></p>
        <p class="content-card-title">świetne relacje</p>
        <p class="content-card-text">
          Jak trwoga to pomoże Ci załoga.
        </p>
      </div>
    </div>
</section>