@import 'mixins';

.destinations {
	@include backgroundShadow();
  padding: 3rem 0;
	position: relative;
	background-image: url('../../../assets/img/croatia.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: var(--color-text-light);
	height: calc(100vh - 128px);
}
.content {
 padding: 0 2.5rem; 
 width: 100%;  
 z-index: 1;
}
@media (max-width: 600px) {
	.content {
		padding: 0;
	}
}
.cards-container {
	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1400px) {
	.destinations {
		app-destination-card.destination-card {
			width: 300px;
			height: 400px;
		}
	}
}
