<div class="destinations">
  <div class="container-shadow"></div>
  <div class="content">
    <h2>Destynacje</h2>
    <div class="underline"></div>
    <div class="cards-container">
      <app-destination-card
        title="Chorwacja"
        backgroundImageUrl="../../../assets/img/destinations/croatia.jpg"
        description="Pływamy po Kornatach oraz Dalmacji, wyspy Hvar, Brać, Vela Luka
i Vis."
      >
      </app-destination-card>
      <app-destination-card
        title="Grecja"
        backgroundImageUrl="../../../assets/img/destinations/greece.jpg"
        description="Już wkrótce!"
      >
      </app-destination-card>
      <app-destination-card
        title="Turcja"
        backgroundImageUrl="../../../assets/img/destinations/turkey.jpg"
        description="Już wkrótce!"
      >
      </app-destination-card>
    </div>
  </div>
</div>
