html {
	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

body {
	background: rgb(204, 204, 204);
	margin: 0;
}

@media print {
	app-footer {
		display: none;
	}
	body, app-page {
		background: white;
		margin: 0;
		box-shadow: 0;
	}
}