<div #footer class="footer">
  <a href="mailto:info@thebuoys.pl" class="mail">info@thebuoys.pl</a>
  <div class="social-media">
    <a
      href="https://www.facebook.com/profile.php?id=100090012129653"
      target="_blank"
      ><i class="fa-brands fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/thebuoys.pl/" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.youtube.com/@TheBuoysPL"
      ><i class="fa-brands fa-youtube"></i
    ></a>
  </div>
  <a href="tel:519305552" class="phone">+48 519 305 552</a>
</div>
