.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: #EBECF2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 200px;
}

.social-media {
  font-size: 1.5rem;
}
a {
  padding: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--color-text-light);
  white-space: nowrap;
  &:hover {
    color: var(--color-accent);
  }
}
