<div class="carousel-container" [style.height]="height" [style.width]="width">
  <div class="carousel-slide" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
    <img [src]="image" alt="carousel-image" (click)="toggleFullScreen()" [style.object-fit]="fit" />
  </div>

  <button class="control prev" (click)="prev()">‹</button>
  <button class="control next" (click)="next()">›</button>
</div>
<div class="fullscreen-overlay" *ngIf="isFullScreen" (click)="toggleFullScreen()">
  <button class="exit-button" (click)="toggleFullScreen()">╳</button>
  <img [src]="images[currentIndex]" alt="fullscreen-image" />
  <button class="control prev" (click)="prev(); $event.stopPropagation()">‹</button>
  <button class="control next" (click)="next(); $event.stopPropagation()">›</button>
</div>