<div class="carousel-container">
  @for (image of images; track image; let i = $index) {
    <div class="carousel-slide" [class.active]="i === currentIndex">
      <img [src]="image" alt="carousel-image" (click)="toggleFullScreen()" [style.object-fit]="fit" />
    </div>
  }

  <button class="control prev" (click)="prev()">‹</button>
  <button class="control next" (click)="next()">›</button>
</div>
@if (isFullScreen) {
  <div class="fullscreen-overlay" (click)="toggleFullScreen()">
    <button class="exit-button" (click)="toggleFullScreen()">╳</button>
    <img [src]="images[currentIndex]" alt="fullscreen-image" />
    <button class="control prev" (click)="prev(); $event.stopPropagation()">‹</button>
    <button class="control next" (click)="next(); $event.stopPropagation()">›</button>
  </div>
}