@use 'animations';

.auto-turn {
  .front {
    animation: turnToBack 1s ease-in-out 3s forwards;
  }

  .back {
    animation: turnToFront 1s ease-in-out 3s forwards;
  }
}

.trip-card {
  position: relative;
  margin: 40px 10px;

  width: 370px;
  min-width: 370px;
  height: 80vh;
  min-height: 80vh;

  box-sizing: border-box;

  background: transparent;
  backdrop-filter: brightness(150%);

  border-radius: 1rem;

  &.open {
    .front {
      transform: rotateY(-180deg);
      opacity: 0;
    }

    .back {
      transform: rotate(0);
      opacity: 1;
    }
  }

  .front {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.8s;


    .title {
      position: relative;
      background-color: rgba(0, 0, 0, 0.366);
      height: auto;
      width: 100%;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);

      h1 {
        font-size: 36px;
      }
    }
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--color-background);
    color: var(--color-text);

    opacity: 0;
    transition: 0.8s;
    transform: rotateY(-180deg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }



  p {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.icon {
  width: 1.5rem;
  margin: 0.5rem;
}


hr {
  margin: 0;
  width: 100%;
}

.disclaimer {
  font-size: 0.5rem;
}

.price {
  font-weight: bold;
  margin-top: 0.5rem;
}

.price-info {
  align-self: center;
  font-size: 0.75rem;
}

.contact {
  align-self: flex-end;
  text-decoration: none;
  color: var(--color-text);
  white-space: nowrap;

  &:hover {
    color: var(--color-accent);
  }
}

.more-btn {
  background-color: var(--color-accent-alt);
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  align-self: center;
  margin-top: 0.5rem;

  &:hover {
    cursor: pointer;
  }
}

.faq-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text);

  &:hover {
    color: var(--color-accent);
  }
}