<div class="trip-card" [class.auto-turn]="!startOpen" [class.open]="isOpen">
  <div class="front">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="back">
    <div>
      <h2 class="back-title">
        <img [src]="flagImgSrc" class="icon" />
        {{ title }}
      </h2>
      <hr />
    </div>
    <p>
      @for (date of dates; track date) {
      <span>
        <img src="./assets/img/icons/calendar.png" class="icon" />
        {{ date }}
      </span>
      }
    </p>
    <p>
      <span>
        <img src="./assets/img/icons/pin.png" class="icon" />
        {{ marina }}
        <!-- TODO link mapy -->
      </span>
      <span>
        <img src="./assets/img/icons/sailing-boat.png" class="icon" />
        {{ yacht }}
        <!-- TODO link do galerii -->
      </span>
      <span>
        <img src="./assets/img/icons/captain.png" class="icon" />
        {{ captain }}
      </span>
    </p>
    <p>
      <a class="faq-link" routerLink="/faq" [queryParams]="{ section: 'faq' }">
        Jeżeli nigdy nie byłeś/aś na rejsie jachtem żaglowym, zacznij od
        <b class="accent">FAQ</b>
      </a>
    </p>
    <h2 class="price">
      {{ priceEUR }} &#8364;
      <div class="price-info">(~{{ pricePLN }} PLN)</div>
    </h2>

    <a class="more-btn" routerLink="/home" [queryParams]="{ section: 'trip' }"
      >dowiedz się więcej</a
    >
    <p>
      <a href="tel:519167722" class="contact">lub zadzwoń: {{ phoneNumber }}</a>
    </p>
    <p class="disclaimer">
      Powyższa oferta ma charakter informacyjny i nie stanowi oferty handlowej
    </p>
  </div>
</div>
