<div #navigation class="navigation" [class.fade-in]="isFirstVisit">
  <app-logo [isLink]="true"></app-logo>
  <button class="navigation-toggle" type="button" (click)="toggle()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <div class="navigation-content" [class.show]="isOpen">
    <a routerLink="/home" [queryParams]="{ section: 'trip' }">o rejsie</a>
    <a routerLink="/home" [queryParams]="{ section: 'portfolio' }">galeria</a>
    <a routerLink="/faq" [queryParams]="{ section: 'faq' }">faq</a>
  </div>
</div>
