.collapse-card {
  background-color: var(--color-background);
  border-radius: 1rem;

  max-width: 600px;
  overflow: hidden;

  color: #555;

  &-header {
    cursor: pointer;
    padding: 1rem;

    :first-child {
      font-weight: bold;
      width: 2rem;
      display: inline-block;
      text-align: center;
    }
  }

  &-body {
    padding: 0 1rem;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }

  .expanded {
    max-height: 500px;
    padding-bottom: 1rem;
  }
}