<div class="trips">
  <h2>oferta</h2>
  <div class="underline"></div>

  <div class="trips-content">
    <div class="trip-card">
      <h3>
        <img
          src="./assets/img/icons/croatia.png"
          alt=""
          class="flag-icon"
        />Chorwacja
      </h3>
      <hr />
      <p>
        <span
          ><img
            src="./assets/img/icons/pin.png"
            alt=""
            class="price-icon"
          />Dalmacja - Classic Route #1</span
        >
      </p>
      <p>
        <span
          ><img
            src="./assets/img/icons/calendar.png"
            alt=""
            class="price-icon"
          />16.09 - 23.09.2023</span
        >
      </p>

      <p><span>Wyspy:</span> Hvar, Korčula, Vis, Šolta</p>
      <p><span>Jachty:</span> Dufour 460 Grand Large</p>
      <p><span>Start:</span> Marina Kaštela</p>
      <p><span>Ilość kabin:</span> 4 dwuosobowych</p>
      <p><span>Ilość dostępnych miejsc:</span> 6</p>
      <p class="price-tag">Skontaktuj się z nami aby poznać ofertę</p>
      <a href="#contact"><button class="btn-primary">kontakt</button></a>
    </div>
    <div class="trip-card">
      <h3>
        <img
          src="./assets/img/icons/croatia.png"
          alt=""
          class="flag-icon"
        />Chorwacja
      </h3>
      <hr />
      <p>
        <span
          ><img
            src="./assets/img/icons/pin.png"
            alt=""
            class="price-icon"
          />Dalmacja - Classic Route #2</span
        >
      </p>
      <p>
        <span
          ><img
            src="./assets/img/icons/calendar.png"
            alt=""
            class="price-icon"
          />23.09 - 30.09.2023</span
        >
      </p>
      <p><span>Wyspy:</span> Hvar, Korčula, Vis, Šolta</p>
      <p><span>Jachty:</span> Dufour 460 Grand Large</p>
      <p><span>Start:</span> Marina Kaštela</p>
      <p><span>Ilość kabin:</span> 4 dwuosobowych</p>
      <p><span>Ilość dostępnych miejsc:</span> 6</p>
      <p class="price-tag">Skontaktuj się z nami aby poznać ofertę</p>
      <a href="#contact"><button class="btn-primary">kontakt</button></a>
    </div>
    <div class="trip-card">
      <h3>Cena zawiera</h3>
      <hr />
      <p>1 miejsce na jachcie w kabinie dwuosobowej</p>
      <hr />
      <p>Opiekę profesjonalnego skippera</p>
      <hr />
      <p>Ubezpieczenie NNW i KL (pokrywające także COVID)</p>
      <hr />
      <p>
        Opłatę "Starter Pack" - (transit log, pościel, ręczniki, sprzątanie
        końcowe jachtu, gaz, ubezpieczenia kaucji jacht)
      </p>
      <hr />
      <p>T-shirt załoganta</p>
    </div>
    <div class="trip-card">
      <h3>dodatkowe atrakcje</h3>
      <hr />
      <p>Wycieczka skuterami wokół Visu <br /></p>
      <hr />
      <p>White-party na wyspie Hvar</p>
      <hr />
      <p>Wycieczka blue-cave</p>
      <hr />
      <p>Wine-tasting</p>
      <hr />
      <p>Zwiedzanie twierdzy Hvar</p>
      <hr />
      <p>Nocne zwiedzanie Trogiru</p>
    </div>
  </div>
  <p class="footer">
    Jeśli interesują Cię terminy inne niż zawarte w ofercie, lub masz ekipę
    <a href="#contact" class="link">skontaktuj się</a> z nami, a pomożemy Ci
    stworzyć indywidualny rejs.
  </p>
</div>
